:root {
    --background: #a5ceee;

    --link: #396370;
    --link-hover: #264554;

    --edit: #2f9600;
    --edit-hover: #297505;
    --delete: #ad0202;
    --delete-hover: #8d0606;

    --comment-border-color: #3a86c9;
    --comment-color: #2472a9;
    --comment-background: #389ae118;
}

p, label {
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

textarea {
    width: 300px;
    height: 90px;
    resize: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    text-align: center;
    width: 100%;
    max-width: 100vw;
}

/* izvadu linki */
.output {
    font-size: 18px;
}

.output:link, .output:visited {
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    color: var(--link);
}

.output:hover {
    text-decoration: underline;
    color: var(--link-hover);
}

/* navbar */
nav {
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}

nav a:link, nav a:visited {
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    color: var(--link);
}

nav a:hover {
    text-decoration: underline;
    color: var(--link-hover);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

/* edit & delete */
.actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.edit, .delete {
    display: inline-block;
}

/* edit poga */
.edit:link, .edit:visited {
    background-color: var(--edit);
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.edit:hover, .edit:active {
    background-color: var(--edit-hover);
}

/* delete poga */
.delete {
    background-color: var(--delete);
    color: white;
    padding: 7px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: none;
}

.delete:hover {
    background-color: var(--delete-hover);
    cursor: pointer;
}

/* komentāri */
.comment-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden;
}

.create-comment, .comments-list {
    width: 40%;
}

.comments-list {
    max-height: 305px;
    overflow-y: auto;
    padding-right: 10px;
}

.create-comment {
    flex-shrink: 0;
}

/* komentāru input */
.input-group {
    margin: auto;
    width: 100%;
    max-width: 300px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid var(--comment-border-color);
    border-radius: 5px;
    outline: none;
    background: var(--comment-background);
    box-sizing: border-box;
}

.input-group label {
    color: var(--comment-color);
    transition: 0.3s ease-in-out;
    padding: 0 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-group input:focus ~ label,
.input-group textarea:focus ~ label,
.input-group textarea:not(:placeholder-shown) ~ label {
    color: var(--comment-color);
    padding: 2px 5px;
    border-radius: 5px;
}